#Shared {
    background-color: #212121;
    
    padding-left: 1.25em;
    padding-right: 1.25em;

    display: flex;
    
}

#sharenav{
    margin-top: 1.5em;

    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}