#main{
    background-color: #212121; /* dark grey */
    display: flex;
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-bottom: 0;

    border-bottom: 3px solid #616161;

    margin-bottom: 1em;
}

#toplist{
    /* border: 2px solid salmon; */
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;

    justify-self: flex-end;
    margin-left:auto;
}
#toplist li{
    padding-left: 1em;
    padding-right: 1em;
}

/* hamburger icon */
#hamNav{
    padding-top: 0.2em;
    /* border: 1px solid blue; */
}

/* collapse topnav buttons into hamburger nav on small screens*/
@media (max-width: 664px){
    .topBtn{
        display: none;
    }
}